.navbar{
  display: flex;
  justify-content: space-between;
  padding:  0% 2%;
  background-color: cyan;
  align-items: center;
}
.nav-right{
  display: flex;
  justify-content: space-between;
}
a{
  margin-left: 2%;
  padding: 15% 5%;
  text-decoration: none;
}
a:hover{
  background-color: salmon;
}

.App{
  width:50%;
  background-color: green;
  text-align: center;
  transform-origin: 50% 50%;
  margin-left: 25%;
  margin-top: 3%;
  height: 100vh;
}